* {
  margin: 0;
  padding: 0;
}

body {
  padding: 24px;
}

main {
  margin: 12px 0;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-btn {
  justify-content: space-between;
}

.navbar {
  list-style-type: none;
  padding: 12px 0;
}

.nav-link {
  margin: 0 4px;
  padding: 0 12px;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.logo {
  color: #0290ff;
}

.btn {
  background-color: #0290ff;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px;
}

form {
  margin: 12px;
}

form input select {
  margin: 8px;
  padding: 5px;
  outline: none;
}

.book-list {
  margin: 15px;
}

.book-list li {
  margin: 6px 0;
}
